.sitenev_menu{
  margin: 0;
  padding: 0 0 10px;
  list-style-type: none;
}
.sitenav_menu_item{
  display: inline-block;
  margin: 0 10px;
}
.sitenav_menu_link{
  display: inline-block;
  padding-bottom: 8px;
  border-bottom: 2px solid transparent;
  color: #999;
  text-decoration: none;
  transition: .3s ease border,
              .3s ease color;
}
.sitenav_menu_link:hover{
 border-bottom: 2px solid #333;
 color: #333;
}

@media only screen and (min-width:600px){
  .sitenav{
   float: left;
  }
  .sitenav_menu_link{
    padding: 5px 0 10px;
  }
 }

 @media only screen and (min-width:730px){
 .sitenav_menu_item{
  margin: 0 40px 0 0;
 }
 }