@import'site-header.css';
@import'sitenav.css';
@import'search-form.css';
@import'utilita.css';
@import'section.css';
@import'feature.css';
@import'button.css';
@import'benefit.css';
html{box-sizing: border-box;}
*,*::before,*::after{
  box-sizing: inherit;
}
body{
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #999;
}
.cf::after{
  content: "";
  display: table;
  clear: both;
}
img{
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}
.container{
  max-width: 900px;
  padding: 0 15px;
  margin: 0 auto;
}
.square-box-divider{
  position: relative;
  width: 4px;
  height: 4px;
  margin-left: 0;
  background-color: #c7c8c8;
  border: none;
}
.square-box-divider::before,
.square-box-divider::after{
width: 4px;
height: 4px;
border: none;
background-color: #c7c8c8;
content: '';
display: inline-block;
position: absolute;
}
.square-box-divider::before{
left: 14px;
}
.square-box-divider::after{
  left: 28px;
}
.link-lined{
  position: relative;
  padding-left: 40px;
  color: hsl(3, 61%, 60%);
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  transition: .4s ease padding;
}
.link-lined:hover{
  padding-left: 50px;
}
.link-lined::before{
  content: '';
  position: absolute;
  width: 30px;height: 2px;
  background-color:hsl(3, 61%, 60%) ;
  left: 0;top: 50%;
  transform: translateY(-50%);
  transition: .4s ease width;
}
.link-lined:hover::before{
 width: 40px;
}